{% extends 'grumblr/base_interface.html' %}
<body>
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text_to_post">
                    <p>
                        This is a stream of posts for all the people that you are following!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if posts %}
                <p>
                    Current followed streams:
                </p>
                {% else %}
                <p>
                    There are no posts yet! Go follow some people and come back!
                </p>
                {% endif %}

                <div class="global_posts">
                    {% if entryForm.errors %}
                    <div class="row">
                        <div class="jumbotron">
                            <div class="user_post">
                                <p>
                                    Error: {{ entryForm.non_field_errors.0 }}
                                    <br /> Click Here to try again:
                                    <br />
                                    <a class="navbar-brand" href="/home/">Grumblr</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endif %} 
                </div>
            </div>
        </div>
        {% endblock %}
                                {% block profile-form %}
                                    <span class="user"> Name: {{ each_post.user }}</span>
                                    <br />
                                    <span class="time_of_post">Time of Post: {{ each_post.post_date }} </span>
                                    {% endblock %}
</body>
