{% extends 'grumblr/base.html' %}
<body>
{% block main %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <a href="/"> <h3 class="masthead-brand">Grumblr</h3> </a>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active">Resetting password for {{user.username}}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <form method="POST" action="{% url 'ResetPasswordForUser' user.id %}">

                        <div class="form-group">
                            {% for field in form.visible_fields %} {{field.label_tag}} {{field}} {% endfor %}
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </form>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
  {% endblock %}
</body>